@{
    Layout = null;
    ViewData["Title"] = "Cadastrar tarefa";
}

<link rel="stylesheet" type="text/css" href="~/css/Cadastrar/cadastrarUsuario.css" />
<link rel="stylesheet" type="text/css" href="~/lib/iziToast/css/iziToast.min.css" />

<div class="conteudo">
    <div class="parte-superior">
        <a asp-controller="Home" asp-action="Index"><img src="~/img/right-arrow.png" /></a>
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="conteudo-esquerda">
        <form id="form-cadastrar-usuario" onsubmit="usuario.cadastrarUsuario()">
            <div class="conteudo-esquerda-superior">
                <div class="titulo-tarefa">
                    <h3>Email</h3>
                    <input type="Email" name="Email" required/>
                </div>
                <div class="tipoUsuario">
                    <h3>Tipo de usuário</h3>
                        <div class="lista-funcionario">
                            <li>Gestor</li>
                            <input type="radio" name="IdTipoUsuario" value="1" required/>
                            <li>Funcionário</li>
                            <input type="radio" name="IdTipoUsuario" value="2" required/>
                        </div>
                </div>
            </div>
            <div class="textfield">
                <h3>Nome</h3>
                <input type="text" class="input-descricao" name="Nome" required/>
            </div>
            <button>Salvar</button>
        </form>
    </div>
</div>
<script src="~/lib/iziToast/js/iziToast.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/pages/usuario.js"></script>
<script>
    usuario.init({
        urls: {
            cadastrarUsuario: '@Url.Action("CadastrarUsuario", "Usuario")'
        }
    })
</script>
