@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

body {
    background-color: #D9D9D9;
}

.parte-superior {
    width: 100vw;
    height: 7vh;
    background-color: #E4B80A;
}

.parte-superior img {
    transform:rotate(180deg);
    width: 30px;
    margin-top: 5px;
}

.parte-superior h3 {
    position: relative;
    text-align: center;
    margin-top: -20px;
}

.conteudo-direita {
    float: right;
}

.funcionarios {
    list-style: none;
    border-radius: 5px;
    border: none;
    background-color: #FFF;
    width: 300px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.conteudo-direita .input-descricao {
    width: 100px;
}

.lista-funcionario img {
    width: 20px;
}

.lista-funcionario {
    display: flex;
    flex-direction: row;
    padding-top: 6px;
    justify-content: space-between;    
}